.devise-wrapper
  .devise-container
    h2 新規登録
    .border-line
      
    .container-form
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        
        .label-wrapper
          = f.label :email
          = f.input :email, label:false
          
        .label-wrapper
          = f.label :password
          = f.input :password, label:false
          
        .label-wrapper
          = f.label :password_confirmation
          = f.input :password_confirmation, label:false
        
        .label-wrapper
          = f.label :nickname
          = f.input :nickname, label:false
          
        = f.submit class: 'submit-btn'
        
    .border-line
    
    .more_link_box
      strong
        | すでにアカウントを持っていますか？<br>
      .login-btn
        = render "devise/shared/links"