/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.error{
  color: red;
  
}
.text-danger{
  color: red;
}
.wrapper{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header{
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #D3D3D3;
}
.header_title{
  height: 70px;
  float: left;
  padding-top: 15px;
  /*border:solid 1px red;*/
  margin-left: 50px;
  font-size: 30px;
}
.header_title-btn{
   color: black;
   text-decoration: none;
}
.header_menu{
  height: 70px;
  float:right;
  /*border:solid 1px red;*/
  margin-right:50px;
  display: flex;
}
.header_menu li{
  height: 40px;
  display: inline-block;
  margin:15px 20px;
  padding: 1px 5px;
  font-size: 20px;
  background-color: #2cb696;
  border-radius: 4px;
}
.header_button a{
  line-height: 40px;
  color: white;
}
.header_menu .header_button:hover{
  background-color: rgba(44,182,150,0.7);
}
.devise-wrapper{
  box-sizing: border-box;
  width:100%;
  height:80vh;
}
.devise-container{
  width: 550px;
  margin:30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border:1px solid black;*/
}
.devise-container h2{
  text-align: center;
  margin: 20px 0;
  letter-spacing: 4px;
}
.devise-container h3{
  text-align: center;
  margin: 20px 0;
  letter-spacing: 4px;
}
.label-wrapper{
  width:200px;
  margin:30px auto;
  text-align: left;
  /*border:1px solid black;*/
}
.form_input{
  width:200px;
  height: 20px;
  border-radius:4px;
  background-color: #E5E5E5
}
.field-wrapper{
  width:200px;
  height: 150px;
  margin:10px auto;
  /*border:1px solid black;*/
}
.edit_image_wrapper{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin:20px auto;
  display: inline-block;
  overflow: hidden;
  /*border:1px solid blue;*/
}
.profile_image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*border:1px solid red;*/
}
.submit-btn{
  width:200px;
  height: 30px;
  font-size:20px;
  letter-spacing: 4px;
  margin:50px auto;
  border-radius:4px;
  display: block;
  background-color: #2cb696;
  color: white;
}
.submit-btn:hover{
  background-color: rgba(44,182,150,0.7);
  cursor: pointer;
}
.border-line{
  width:500px;
  border-bottom: 2px solid #D3D3D3;
  margin: 1px auto;
}
.more_link_box{
  width:450px;
  margin: 20px auto;
  text-align: center;
}
.login-btn a{
  width: 200px;
  height: 30px;
  font-size: 20px;
  letter-spacing: 4px;
  margin:5px auto;
  border-radius: 4px;
  display: inline-block;
  background-color: #2cb696;
  color: white;
}
.login-btn a:hover{
  background-color: rgba(44,182,150,0.7);
  cursor: pointer;
}
.forgot-pass a{
  width:200px;
  height: 30px;
  font-size: 17px;
  margin:15px auto;
  border-radius: 4px;
  border:1px solid black;
  display: inline-block;
}
.forgot-pass a:hover{
  background-color: rgba(192,192,192,0.4);
}
.forgot-pass a{
  color: black;
}
.repass-btn{
  width:200px;
  height: 25px;
  margin:5px auto;
  border-radius: 4px;
  font-size: 12px;
  border:1px solid black;
  display: inline-block;
  cursor: pointer;
}
.repass-btn:hover{
  background-color: rgba(192,192,192,0.4);
}
.yield_wrapper{
  width: 100%;
}
.contents{
  width: 750px;
  /*border: 1px solid black;*/
}
.post_area{
  width: 75%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
  padding-left: 30px;
  /*border: 1px solid red;*/
}
.post_area h2{
  padding-bottom: 5px;
  border-bottom: 1px solid #D3D3D3
}
.review_label{
  margin-top: 30px;
  margin-left: 20px;
  /*border: 1px solid pink;*/
  font-size: 20px;
}
.url_input{
  width: 450px;
  border-radius: 4px;
}
.rate_input{
  width: 35px;
  border-radius: 4px;
}
.rate_label{
  margin-right: 10px;
}
.rate_hint{
  font-size: 12px;
}
.review_input{
  width: 450px;
  height: 150px;
  border-radius: 4px;
}
.post-btn{
  display: block;
  width: 300px;
  height: 40px;
  font-size: 20px;
  letter-spacing: 5px;
  margin:30px 90px;
  border-radius: 4px;
  background-color: #2cb696;
  color: white;
}
.post-btn:hover{
  background-color: rgba(44,182,150,0.7);
  cursor: pointer;
}
.user_info{
  height: 60px;
  margin-top:40px;
  margin-left: 40px;
  /*border:1px solid red;*/
}
.user_info ul{
  display: flex;
}
.user_info ul li{
  display: inline-block;
  /*border:1px solid black;*/
}
.border_bottom{
  border-bottom: 2px solid #D3D3D3;
  margin-top: 1px;
  margin-left: 40px;
}
.user_image_wrapper{
  height: 60px;
  width: 60px;
  position: relative;
  margin: 0 5px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  border:1px solid #DDDDDD;
}
.user_name{
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
}
.user_edit_btn{
  height: 30px;
  width: 160px;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  background-color: #2cb696;
}
.user_edit_btn a{
  line-height: 30px;
  color: white;
}
.user_edit_btn:hover{
  background-color: rgba(44,182,150,0.7);
  cursor: pointer;
}
.user_delete_area{
  width:400px;
  margin:10px auto;
  text-align: center;
  /*border: 1px solid red;*/
}
.user_delete_area p{
  font-size: 15px;
}
.user_delete_btn{
  font-size: 15px;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: white;
  background-color: rgba(255,8,61,1);
}
.user_delete_btn:hover{
  background-color:rgba(255,8,61,0.7);
  cursor: pointer;
}
.backToTop{
  text-align: center;
  margin: 20px auto;
  color: #2CB696;
}
.backToTop:hover{
  color: rgba(44,182,150,0.7);
}
.search_form{
  margin-left:auto;
}
.search__query{
  height: 30px;
  border-radius: 4px;
  margin-top: 15px;
  border: 1px solid #ccc;
}
.btn_search{
  height: 40px;
  width:30px;
  background-color: white;
  border: none;
}
.btn_search:hover{
  cursor: pointer;
}
.note_wrapper{
  margin-left: 40px;
  margin-top: 40px;
}
.border_red{
  padding: 10px 10px;
  border:1px solid red;
}
.index_title_wrapper{
  height: 60px;
  margin-top:40px;
  margin-left: 40px;
  /*border:1px solid blue;*/
}
.index_title_wrapper ul{
  display: flex;
  list-style: none;
}
.index_title_wrapper ul li{
 display: inline-block;
  /*border:1px solid black;*/
}
.index_title{
  height: 60px;
  line-height: 60px;
}
.note_area{
  margin-left: 40px;
  margin-top: 20px;
  /*border:1px solid pink;*/
}
.note_area li{
  list-style: none;
}
.note_area a{
  color: black;
}
.note_contents{
  height: 100px;
  width: 670px;
  margin-left: 10px;
  border-radius: 4px;
}
.note_contents ul{
  display: flex;
}
.note_image{
  height: 100px;
  width: 191px;
  /*border:1px solid blue;*/
}
.note_string{
  height: 100px;
  width:479px;
  border-radius: 5px;
  border-top: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
.note_string:hover{
  background-color: #f5f5f5;
}
.note_title{
  height: 70px;
  width: 479px;
  padding: 5px 0 5px 10px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note_mark{
  height: 30px;
  width: 479px;
  /*border:1px solid yellow;*/
}
.note_mark ul{
  display: flex;
}
.note_star{
  height: 30px;
  width: 160px;
  /*border:1px solid green;*/
}
.note_star_wra{
  height: 30px;
  width: 50px;
  margin: 0 auto;
  display: block;
}
.note_price{
  height: 30px;
  width: 160px;
  color: #2cb696;
}
.note_price_wra{
  height: 30px;
  width: 100px;
  display: block;
  margin: 0 auto;
}
.note_like{
  height: 30px;
  width: 159px;
}
.far.fa-heart{
  height: 20px;
  width: 60px;
  margin: 5px auto;
  display: block;
}
.title_image{
  height: 100px;
  width: 191px;
}