//= require toastr_rails

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.error{
  color: red;

}
.text-danger{
  color: red;
}
.wrapper{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.footer{
  height: 60px;
  width: 100%;
  margin-top: 100px;
}
.footer p{
  height: 60px;
  width: 100%;
  line-height: 60px;
  font-size: 15px;
  text-align: center;
  border-top: 1px solid #dcdcdc;
}
.header{
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  border-bottom: solid 1px #D3D3D3;
}
.header_title{
  height: 70px;
  float: left;
  margin-left: 50px;
  font-size: 30px;
}
.header_title-btn{
   height: 48px;
   margin-top: 12px;
   margin-bottom: 12px;
}
.header_title-btn:hover{
  color: #2cb696;
}
.header_menu{
  height: 70px;
  float: right;
  margin-right: 10px;
  display: flex;
}
.header_menu li{
  height: 40px;
  display: inline-block;
  margin: 15px 10px;
  padding: 1px 5px;
  font-size: 20px;
  background-color: #2cb696;
  border-radius: 4px;
}
.header_button a{
  line-height: 40px;
  color: white;
}
.header_menu .header_button:hover{
  background-color: rgba(44,182,150,0.7);
}
.devise-wrapper{
  box-sizing: border-box;
  width: 100%;
}
.devise-container{
  width: 550px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.devise-container h2{
  text-align: center;
  margin: 20px 0;
  letter-spacing: 4px;
}
.devise-container h3{
  text-align: center;
  margin: 20px 0;
  letter-spacing: 4px;
}
.label-wrapper{
  width: 200px;
  margin:30px auto;
  text-align: left;
}
.form_input{
  width: 200px;
  height: 20px;
  border-radius: 4px;
  background-color: #E5E5E5;
}
.field-wrapper{
  width: 200px;
  height: 150px;
  margin:10px auto;
}
.edit_image_wrapper{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin:20px auto;
  display: inline-block;
  overflow: hidden;
}
.default_profile_image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350%;
  width: 350%;
}
.profile_image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 130%;
}
.submit-btn{
  width:200px;
  height: 30px;
  line-height: 30px;
  font-size:20px;
  letter-spacing: 4px;
  margin:50px auto;
  border-radius:4px;
  display: block;
  background-color: #2cb696;
  color: white;
}
.submit-btn:hover{
  background-color: rgba(44,182,150,0.7);
  cursor: pointer;
}
.border-line{
  width:500px;
  border-bottom: 2px solid #D3D3D3;
  margin: 1px auto;
}
.more_link_box{
  width:450px;
  margin: 20px auto;
  text-align: center;
}
.test_login_btn{
  width: 200px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  letter-spacing: 4px;
  margin: 10px auto;
  border-radius: 4px;
  display: inline-block;
  background-color: #3496f9;
  color: white;
}
.test_login_btn:hover{
  background-color: rgba(52,150,249,0.7);
  cursor: pointer;
}
.login-btn a{
  width: 200px;
  height: 30px;
  font-size: 20px;
  letter-spacing: 4px;
  margin:5px auto;
  border-radius: 4px;
  display: inline-block;
  background-color: #2cb696;
  color: white;
}
.login-btn a:hover{
  background-color: rgba(44,182,150,0.7);
  cursor: pointer;
}
.forgot-pass a{
  width:200px;
  height: 30px;
  font-size: 17px;
  margin:15px auto;
  border-radius: 4px;
  border:1px solid black;
  color: black;
  display: inline-block;
}
.forgot-pass a:hover{
  background-color: rgba(192,192,192,0.4);
}
.repass-btn{
  width:200px;
  height: 25px;
  margin:5px auto;
  border-radius: 4px;
  font-size: 12px;
  border:1px solid black;
  display: inline-block;
  cursor: pointer;
}
.repass-btn:hover{
  background-color: rgba(192,192,192,0.4);
}
.contents_wra{
  width:100%;
  display: flex;
}
.contents{
  width: 65%;
}
.post_area{
  width: 75%;
  margin:50px auto;
}
.post_area h2{
  padding-bottom: 5px;
  border-bottom: 1px solid #D3D3D3
}
.review_label{
  margin-top: 30px;
  margin-left: 20px;
  font-size: 20px;
}
.url_input{
  width: 85%;
  border-radius: 4px;
}
.rate_input{
  width: 6%;
  border-radius: 4px;
}
.rate_label{
  margin-right: 10px;
}
.rate_hint{
  font-size: 12px;
}
.review_input{
  width: 85%;
  height: 150px;
  border-radius: 4px;
}
.post-btn{
  display: block;
  width: 40%;
  height: 40px;
  font-size: 20px;
  letter-spacing: 5px;
  margin:30px 70px;
  border-radius: 4px;
  background-color: #2cb696;
  color: white;
}
.post-btn:hover{
  background-color: rgba(44,182,150,0.7);
  cursor: pointer;
}
.destroy_btn{
  display: block;
  width: 40%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  letter-spacing: 5px;
  margin:30px 70px;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(255,8,61,1);
  color: white;
}
.destroy_btn:hover{
  background-color: rgba(255,8,61,0.7);
  cursor: pointer;
}
.user_info{
  height: 60px;
  width:90%;
  margin-top:40px;
  margin-left: 40px;
}
.user_info ul{
  display: flex;
}
.user_info ul li{
  display: inline-block;
}
.border_bottom{
  width: 100%;
  border-bottom: 2px solid #D3D3D3;
  margin-top: 1px;
}
.border_bottom2{
  border-bottom: 2px solid #D3D3D3;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}
.user_image_wrapper{
  height: 60px;
  width: 60px;
  position: relative;
  margin: 0 5px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  border:1px solid #DDDDDD;
}
.user_name{
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
}
.user_edit_btn{
  height: 30px;
  width: 160px;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  background-color: #2cb696;
}
.user_edit_btn a{
  line-height: 30px;
  color: white;
}
.user_edit_btn:hover{
  background-color: rgba(44,182,150,0.7);
  cursor: pointer;
}
#follow_form{
  margin-left: 25px;
  border: 1px solid pink;
}
.unfollow_btn{
  height: 30px;
  width: 130px;
  border-radius: 4px;
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  color: white;
  background-color: #2cb696;
}
.unfollow_btn:hover{
  background-color: rgba(44,182,150,0.7);
  cursor: pointer;
}
.follow_btn{
  height: 30px;
  width: 130px;
  border-radius: 4px;
  font-size: 20px;
  margin-top: 15px;
  text-align: center;
  color: #2cb696;
  background-color: white;
  border: 1px solid #2cb696;
}
.follow_btn:hover{
  background-color: rgba(44,182,150,0.1);
  cursor: pointer;
}
.user_delete_area{
  width:400px;
  margin:10px auto;
  text-align: center;
}
.user_delete_area p{
  font-size: 15px;
}
.user_delete_btn{
  font-size: 15px;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 6px;
  color: white;
  background-color: rgba(255,8,61,1);
}
.user_delete_btn:hover{
  background-color:rgba(255,8,61,0.7);
  cursor: pointer;
}
.backToTop{
  height: 30px;
  width: 150px;
  line-height: 30px;
  text-align: center;
  display: block;
  margin: 20px auto;
  color: #2CB696;
}
.backToTop:hover{
  color: rgba(44,182,150,0.7);
}
.search_form{
  margin-left:auto;
}
.search__query{
  height: 30px;
  width: 140px;
  border-radius: 4px;
  margin-top: 15px;
  border: 1px solid #ccc;
}
.btn_search{
  height: 40px;
  width:30px;
  background-color: white;
  border: none;
}
.btn_search:hover{
  cursor: pointer;
}
.note_wrapper{
  margin-left: 40px;
  margin-top: 40px;
}
.border_red{
  padding: 10px 10px;
  border:1px solid red;
}
.index_title_wrapper{
  height: 60px;
  width: 90%;
  margin-top:30px;
  margin-left: 40px;
}
.index_title_wrapper ul{
  display: flex;
  list-style: none;
}
.index_title_wrapper ul li{
 display: inline-block;
}
.index_title{
  height: 60px;
  line-height: 60px;
}
.note_area{
  margin-left: 40px;
  margin-top: 20px;
}
.note_area li{
  list-style: none;
}
.note_contents{
  height: 100px;
  width: 95%;
  margin-left: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
}
.note_contents ul{
  display: flex;
}
.note_image{
  height: 100px;
  width: 191px;
}
.note_string{
  height: 100px;
  width:67%;
  border-radius: 5px;
  border-top: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
.note_string:hover{
  background-color: #f5f5f5;
}
.note_title{
  height: 70px;
  width: 100%;
  padding: 5px 0 5px 10px;
  line-height: 30px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note_mark{
  height: 30px;
  width: 100%;
}
.note_mark ul{
  display: flex;
}
.note_star{
  height: 30px;
  width: 160px;
}
.note_star_wra{
  height: 30px;
  width: 50px;
  margin: 0 auto;
  display: block;
}
.note_price{
  height: 30px;
  width: 160px;
  color: #2cb696;
}
.note_price_wra{
  height: 30px;
  width: 100px;
  display: block;
  margin: 0 auto;
}
.note_like{
  height: 30px;
  width: 159px;
}
.note_like_wra{
  height: 20px;
  width: 100px;
  line-height: 30px;
  display: block;
  margin: 5px auto;
}
.far.fa-heart{
  height: 20px;
  width: 60px;
  /*margin: 5px auto;*/
  display: block;
}
.note_title_image{
  height: 100px;
  width: 191px;
}
.title_image_wra{
  height: 350px;
  width: 90%;
  margin:30px auto;
  display: block;
}
.title_image{
  height: 100%;
  width: 100%;
}
.title_wra{
  width:90%;
  margin: 0 auto;
  display: block;
}
.note_data{
  height: 30px;
  width: 90%;
  margin: 20px auto;
  display: block;
}
.note_data ul{
  display: flex;
  list-style: none;
}
.like{
  height: 30px;
  width: 85px;
}
.far.fa-heart.show{
  height: 30px;
  width: 80px;
  line-height: 30px;
}
.price{
  height: 30px;
  width: 100px;
  line-height: 30px;
  color: #2cb696;
  margin-left: 10px;
}
.url_wra{
  height: 30px;
  width: 143px;
  line-height: 30px;
  background-color: #2cb696;
  border-radius: 3px;
  text-align: center;
  margin-left: auto;
}
.url_wra:hover{
  background-color: rgba(44,182,150,0.7);
  cursor: pointer;
}
.url_wra a{
  color: white;
}
.creater_wra{
  height: 35px;
  width: 90%;
  margin: 25px auto;
  margin-bottom: 0;
}
.creater_wra ul{
  display: flex;
  list-style: none;
}
.creater_image_wra{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.creater_image{
  height: 35px;
  width: 35px;
}
.creater_name_wra{
  height: 35px;
  width: 550px;
  margin-left: 8px;
  line-height: 35px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.rate_wra{
  height: 35px;
  width: 70px;
  margin-left: auto;
  display: block;
}
.fas.fa-star.show{
  height: 35px;
  width: 60px;
  line-height: 35px;
  vertical-align: middle;
  margin-left: auto;
  display: block;
}
.review_area{
  width: 90%;
  display: block;
  margin: 20px auto;
}
.review_area ul{
  list-style: none;
}
.review_wrap{
  width: 100%;
  margin: 30px auto;
  display: block;
  margin-bottom: 20px;
}
.reviewer{
  height: 35px;
  width: 100%;
  display: flex;

}
.review_image{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.no_user_image{
  height: 120px;
  width: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.review_name{
  height: 35px;
  line-height: 35px;
  margin-left: 8px;
  font-size: 18px;
}
.review_data{
  height: 35px;
  width: 100%;
}
.review_data ul{
  display: flex;
}
.review_star{
  height: 35px;
  width: 80px;
}
.fas.fa-star.review{
  height: 35px;
  width: 60px;
  line-height: 35px;
  vertical-align: center;
  display: inline-block;
}
.review_date{
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  vertical-align: center;
  display: inline-block;
}
.edit_link_wrap{
  height: 25px;
  width: 40px;
  font-size: 15px;
  line-height: 25px;
  border-radius: 3px;
  margin-top: 5px;
  vertical-align: center;
  text-align: center;
  margin-left: auto;
  border:1px solid black;
}
.edit_link_wrap:hover{
  background-color: #d3d3d3;
}
.edit_link_wrap a{
  color: black;
}
.review_text_wrap{
  width: 100%;
  font-size: 15px;
  display: block;
}
.no_review_wrap{
  width: 100%;
  margin: 30px auto;
  display: block;
  margin-bottom: 20px;
}
.kaminari_wrap{
  width: 100%;
  margin: 50px auto;
  text-align: center;
}
.yield_container{
  width: 100%;
}
.ranking_container{
  height: 100%;
  width: 35%;
}
.rank_title{
  height: 60px;
  width: 90%;
  line-height: 60px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.ranking_wrap{
  height: 260px;
  width: 90%;
  margin: 40px auto;
  margin-top: 20px;
  display: flex;
  color: black;
  list-style: none;
}
.trophy{
  width: 10%;
}
.rank-1{
  color: gold;
}
.rank-2{
  color: silver;
}
.rank-3{
  color: #BA6E40;
}
.fas.fa-trophy{
  height: 30px;
  width: 100%;
  line-height: 30px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
}
.ranking_data{
  height: 260px;
  width: 90%;
}
.ranking_data:hover{
  cursor: pointer;
  background-color: #f5f5f5;
}
.ranking_image{
  height: 160px;
  width: 90%;
  margin: 0 auto;
}
.rank_title_image{
  height: 100%;
  width: 100%;
}
.ranking_title{
  height: 100px;
  width: 90%;
  line-height: 30px;
  padding:5px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 15px;
}
.notice_wrap{
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(44,182,150);
  border-radius: 3px;
  opacity: 0.6;
}
.alert_wrap{
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: auto;
  margin-left: 50px;
  margin-top: 20px;
  background-color: coral;
  border-radius: 3px;
  opacity: 0.7;
}