doctype html
html
  head
    title
      | Note
    |  <meta name="viewport" content="width=device-width, initial-scale=1.0" 
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    .wrapper
      .header
        .header_title
          h3
            a.header-title-btn[href="/"]
              | note List
        ul.header_menu
          - if user_signed_in?
            li.header_button
              a[href="/"]
                | 投稿する
            li.header_button
              |  <a href="/users/
              - current_user.id
              | ">マイページ
            li.header_button
              = link_to 'サインアウト', destroy_user_session_path, method: :delete
          - else
            li.header_button
              = link_to '新規登録', new_user_registration_path
            |  <li class="header_button" %> 
            = link_to 'ログイン', new_user_session_path
    = yield
